[submodule "inside/.vim/bundle/vundle"]
	path = inside/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "inside/.zprezto"]
	path = inside/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "nowhere/play-button-itunes-patch"]
	path = nowhere/play-button-itunes-patch
	url = git://github.com/thebitguru/play-button-itunes-patch.git
[submodule "nowhere/vit"]
	path = nowhere/vit
	url = git://tasktools.org/vit.git
[submodule "nowhere/manpages-tldr"]
	path = nowhere/manpages-tldr
	url = git://github.com/JIghtuse/manpages-tldr.git
